@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.main-header {
  height: 100vh;
  background-color: rgb(103, 34, 231);
  overflow-y: hidden;
  overflow-x: hidden;
}

.nav-item {
  padding-top: 10px;
  padding-right: 30px;
}

.nav-item a {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 16px;
}

.nav-item a:hover {
  color: rgb(182, 178, 178);
  transition: 0.5s;
}

#search {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

#search:hover {
  border-radius: 50%;
}

#Quate a {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid white;
  text-align: center;
  padding: 10px 13px;
}

#Quate a:hover {
  background-color: aliceblue;
  color: black;
}

.sub {
  color: rgb(231, 222, 222);
  letter-spacing: 5px;
  font-size: 18px;
}

.main {
  color: white;
  font-size: 8vh;
  font-weight: 800;
  line-height: 9vh;
  justify-content: center;
}

.sub-two {
  font-size: 18px;
  color: white;
  justify-content: center;
}

.cover-image img {
  object-fit: fill;
  width: 120%;
}

.our-services a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 10px 15px;
}

.our-services a:hover {
  background-color: white;
  color: black;
  transition: 1s;
}

.exclusive p {
  font-size: 5vh;
  font-weight: 700;
}

.sub-para {
  text-align: justify;
}

.solution-list {
  list-style: none;
  padding-top: 10px;
}

.solution-list ul li {
  font-weight: 400;
  list-style: none;
  line-height: 35px;
  color: rgb(54, 52, 52);
}

.read-more a {
  text-decoration: none;
  padding: 13px 20px 13px 15px;
  background-color: rgb(105, 86, 245);
  color: white;
  z-index: 99 !important;
}

.read-more a:hover {
  color: white;
  z-index: 100;
}

.bg-image img {
  position: absolute;
  opacity: 20%;
  z-index: 10;
  right: 0;
}

.services-icon::before,
.services-icon::after {
  display: inline-block;
  content: "";
  border-top: 1px solid rgb(105, 86, 245);
  width: 6rem;
  margin: 0 1rem;
}

.small-pra p {
  color: rgb(82, 79, 79);
  text-align: center;
}

.cards {
  width: 100%;
  height: 100%;
}

.cards:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  transition: 1s;
}
.card-name p {
  font-size: 3.5vh;
  font-weight: 550;
}

.card-body p {
  font-size: 15px;
  width: 100%;
  text-align: center;
}

.card-link a {
  text-decoration: none;
  color: blueviolet;
  font-weight: 500;
  padding: 8px 12px;
}

/* Icons Hover */
.card-icons-1 i {
  justify-content: center;
  background-color: rgb(248, 244, 244);
  padding: 30px;
  border-radius: 50%;
  color: rgb(223, 171, 30);
}

.cards .card-icons-1 i:hover {
  justify-content: center;
  background-color: rgb(241, 161, 41);
  padding: 30px;
  border-radius: 50%;
  color: white;
  transition: 1s;
}

.card-icons-2 i {
  justify-content: center;
  background-color: rgb(248, 244, 244);
  padding: 30px;
  border-radius: 50%;
  color: rgb(16, 206, 48);
}

.cards .card-icons-2 i:hover {
  justify-content: center;
  background-color: rgb(16, 206, 48);
  padding: 30px;
  border-radius: 50%;
  color: white;
  transition: 1s;
}

.card-icons-3 i {
  justify-content: center;
  background-color: rgb(248, 244, 244);
  padding: 30px;
  border-radius: 50%;
  color: rgb(240, 78, 226);
}

.cards .card-icons-3 i:hover {
  justify-content: center;
  background-color: rgb(240, 78, 226);
  border-radius: 50%;
  color: white;
  transition: 1s;
}

.card-icons-4 i {
  justify-content: center;
  background-color: rgb(248, 244, 244);
  padding: 30px;
  border-radius: 50%;
  color: rgb(50, 85, 241);
}

.cards .card-icons-4 i:hover {
  justify-content: center;
  background-color: rgb(50, 85, 241);
  border-radius: 50%;
  color: white;
  transition: 1s;
}

.card-icons-5 i {
  justify-content: center;
  background-color: rgb(248, 244, 244);
  padding: 30px;
  border-radius: 50%;
  color: rgb(241, 39, 39);
}

.cards .card-icons-5 i:hover {
  justify-content: center;
  background-color: rgb(241, 39, 39);
  border-radius: 50%;
  color: white;
  transition: 1s;
}

.card-icons-6 i {
  justify-content: center;
  background-color: rgb(248, 244, 244);
  padding: 30px;
  border-radius: 50%;
  color: rgb(9, 235, 235);
}

.cards .card-icons-6 i:hover {
  justify-content: center;
  background-color: rgb(9, 235, 235);
  border-radius: 50%;
  color: white;
  transition: 1s;
}

.service-cards-bg-image img {
  position: absolute;
  z-index: -1;
  opacity: 5%;
  overflow-y: hidden;
  width: 100%;
}

.tk-blob {
  height: 350px;
  width: 350px;
  position: absolute;
  z-index: -100;
}

.blob svg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
  opacity: 10%;
}

.plan-img i {
  color: white;
  height: 100%;
  width: 100%;
  padding: 30px;
  border-radius: 50%;
  background-color: rgb(86, 205, 252);
}

.plan-tittle p {
  font-size: 4vh;
  font-weight: 600;
}
