/* Mobile */
@media only screen and (max-width: 500px) {
  .sub {
    text-align: center;
    font-size: 2vh;
    letter-spacing: 2px;
  }
  .main {
    font-size: 3vh;
    font-weight: 800;
    line-height: 4dvh;
  }

  .sub-two {
    font-size: 15px;
    text-align: justify;
  }

  .our-services a {
    text-align: center;
    align-items: center;
  }

  .main-header {
    height: 100vh;
  }

  .cover-image img {
    object-fit: fill;
    width: 100%;
  }

  .exclusive p {
    font-size: 2.5dvh;
  }

  .solution-list {
    list-style: none;
    padding-top: 10px;
  }

  .solution-list ul li {
    list-style: none;
    line-height: 30px;
    color: rgb(54, 52, 52);
  }

  .card-body p {
    font-size: 15px;
    width: 100%;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: initial; */
  }
}

/* Tablet */
@media only screen and (max-width: 900) {
  .main {
    font-size: 5vh;
    font-weight: 800;
    line-height: 5dvh;
  }

  .sub-two {
    font-size: 11px;
  }

  .main-header {
    height: 100vh;
  }
}
